body {
    font-family: verdana;
    background-color: blue;
    box-shadow: 50 50 black;
}

.titulo {
    color: blue;
    display: flex;
    justify-content: center;
}

h2 {
    color: midnightblue;
}

.quadro {
    background-color: white;
    width: 40%;
    margin: auto;
}