body {
        /* FlexBox */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
        /* Aparência */
    background-image: linear-gradient(0deg, #000000, #a200ff96);
    background-attachment: fixed;
    font-family: verdana;
    height: 100vh;
    padding-top: 50px;
}

.primeiro {
    /* FlexBox */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    /* Aparência */
    background-color: #ffffff;
    padding: 10px;
    width: 40%;
    height: 50%;
    border-radius: 100px;
    border-bottom: 50px;
}

.segundo {
    /* FlexBox */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    /* Aparência */
    background-color: #ffffff;
    padding: 10px;
    width: 40%;
    height: 50%;
    border-radius: 100px;
}

#item1:hover {
    color: #001aff;
}

#item2:hover {
    color: #ff0000;
}

#item3:hover {
    color: #00ff15;
}

#item1, #item2, #item3 {
    color: #a200ff96;
    text-decoration: none;
    &:hover {
        cursor: default;
        text-decoration: underline;
    }
    flex-grow: 1;
}