.primeiro {
    &:hover > p {
        color: blue;
        cursor: default;
    }
}

.segundo>a {
    text-decoration: none;
}

.spotify {
    &:hover {
        color: forestgreen;
    }
}

.youtube {
    &:hover {
        color: red;
    }
}

.amazon {
    &:hover {
        color: yellow;
    }
}